@charset "utf-8";

/*  Single line  *****************************************************************/

#the_cafe_instance.single_line {
	filter: none;
}
#the_raingarden_instance.single_line {
	filter: none;
}
#the_green_fern_instance.single_line {
	filter: none;
}
#the_blue_fern_instance.single_line {
	filter: none;
}
#the_logo_wrapper.single_line {
	width: 400px;
	height: 50px;
	transform: scale( 0.4 );
	filter: drop-shadow( 2px 2px 2px black );
}			
#the_blue_fern_wrapper.single_line {
	z-index: 10;
	fill: rgba( 20, 60, 90, 0.2 );
	stroke: rgba( 0, 0, 30, 0.6 );
	stroke-width: 0.4px;
	transform: translate( 260px, 0px ) scale( -2.3, 1.4 ) rotateZ( 0deg);
}
#the_green_fern_wrapper.single_line {
	z-index: 20;
	fill: rgba( 20, 80, 20, 0.2 );
	stroke: rgba( 0, 20, 20, 0.6 );
	stroke-width: 0.4px;
	transform: translate( 170px, 0px ) scale( 2.3, 1.6 ) rotateZ( 0deg );
}

#the_cafe_wrapper.single_line {
	z-index: 30;
	stroke-width: 1px;
	transform: translate( 427px, -5px ) scale( 0.6 );
	filter: blur( 1.3px );
}
#the_raingarden_wrapper.single_line {
	z-index: 40;
	fill: rgba( 20, 130, 20, 0.3 );
	stroke: white;
	stroke-width: 1px;
	transform: scale( 1 ) translate( 10px, 7px );
}