/* blog_entries_1.css */


/* the blog posts */
section.blog.post.boundaries {
	position: fixed;
	top: 10em;
	left: 10em;
	right: 10em;
	bottom: 10em;
	z-index: 50;
	border: 3px solid blue;
	box-sizing: border-box;
	overflow: hidden;
}
section.blog.post.boundaries.drag-area{
	position: fixed;
	z-index: 150;
	overflow: visible;
}
.blog.post.outer {
	position: absolute;
	background: linear-gradient( to right bottom, rgba( 0, 0, 100, 0.5 ), rgba( 225, 225, 180, 0.6 ), rgba( 0, 0, 100, 0.5 ) );
	border: 1px solid rgba( 100, 90, 0, 0.4 );
	box-shadow: 15px 15px 12px 3px rgba( 10, 15, 0, 1 );
	box-sizing: border-box;
	transition: height 200ms 50ms,
				width 400ms 100ms,
				filter 300ms 200ms,
				opacity 500ms 0ms,
				transform 500ms 20ms;
	overflow: visible;
	resize: both;
}
.blog.post.non-draggable.outer {
	width: 48em;
	height: 47em;
	filter: blur( 0px );
	opacity: 1;
}
.blog.post.draggable.outer {
	width: 42em;
	height: 45em;
	filter: blur( 1.2px );
	opacity: 0.7;
}
.blog.post.inner {
	height: 45em;
	overflow: scroll;
	transition: all 150ms 30ms ease-out;
}
.blog.post.non-draggable.inner {
	transform: scale( 1 );
}
.blog.post.draggable.inner {
	transform: translateY( 2em ) scale( 0.95, 0.95 );
}
.blog.post.draggable * {
	max-width: 45.5em;
}
header.blog.post.draggable {
	position: absolute;
	width: 45.5em;
	height: 1.3em;
	background-image: linear-gradient( to right, rgba( 0, 0, 0, 0.4 ), rgba( 90, 55, 27, 0.3 ), rgba( 20, 55, 77, 0.2 ) );
	overflow: visible;
	z-index: 10;
}
span.blog.post.draggable.post_date {
	position: absolute;
	right: -2.5em;
	top: -2.7em;
	z-index: 20;
	color: rgba( 230, 211, 76, 1.00 );
	font: italic 0.9em sans-serif;
	text-shadow: 1px 1px 1px black;
	background: rgba( 30, 30, 50, 0.85 );
	border: 1px solid white;
}
span.blog.post.draggable.post_title {
	position: absolute;
	color: white;
	text-shadow: 1px 1px 1px black;
	font: 500 2.5em monospace;
	margin-left: 0.5em;
}
main.blog.post.draggable {
	position: absolute;
	width: 45.5em;
	top: 2.5em;
	padding: 1em 3em 1.5em 1.5em;
	margin-bottom: 2em;
	background: rgba( 230, 230, 222, 1 );
	overflow: scroll;
}
main.blog.post.draggable div {
	padding: 0 0.5em;
	margin-bottom: 2em;
	background: rgba( 230, 230, 222, 1 );
	list-style: none;
}
button.blog.post {
	position: absolute;
	width: 17em;
	height: 1.4em;
	top: 0.1em;
	right: 0.1em;
	z-index: 20;
}
button.blog.post.closer {
	text-align: center;
}
button.blog.post.shrinker {
	text-align: center;
	transform: rotate( 90deg ) translate( 30em, -7.5em );
}
button.blog.post.expander {
	padding-right: 0.5em;
	text-align: right;
	transform-origin: right top;
	transform: rotate( 90deg ) translate( 11.4em, 0.5em );
}
button.blog.post.contribute {
	top: calc( 100% - 0.1em );
	text-align: right;
	opacity: 0.1;
	transform: translate( 8em, 0.5em );
	transition: translate 300ms 100ms,
				opacity 100ms 1s;
}